@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #0B0C10;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #0B0C10;
}

.inner_header {
    width: 97%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


/* .logo {
    vertical-align: middle;
    padding-top: 15;
    float: left;
}

.imageLogo {
    width: 90%;
    height: auto;
    margin-left: -7px;
} */

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 18px;
    /* Padding for distance between About, Portfolio & Contact */
}

@media only screen and (max-width: 600px) {
    .navigation a {
        padding: 0px 8px;
        /* Padding for distance between About, Portfolio & Contact */
    }
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font: 400;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    color: white;
}

.logo_container a li {
    vertical-align: middle;
    color: white;
    display: table-cell;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font: 300;
    font-size: 25px;
}

@media only screen and (max-width: 350px) {
    .logo_container a li {
        font-size: 20px;
    }
}

.logo_container a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 0px;
    /* Padding for distance between About, Portfolio & Contact */
}

.opening {
    margin-top: 10.5%;
    padding-bottom: 10px;
    max-width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 20px;
    color: white;
    position: relative;
    background-color: #0B0C10;
}

@media only screen and (max-width: 800px) {
    .opening {
        margin-top: 6vh;
    }
}

.title {
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
    font-size: 80px;
    color: white;
    max-width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    background-color: #0B0C10;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 55px;
    }
}

.secondTitle {
    color: white;
}

.miniAboutBox {
    max-width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 25px;
}

.miniAbout {
    float: left;
    max-width: 40ch;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    position: relative;
    background-color: #0B0C10;
    line-height: 1.7rem;
    padding-bottom: 50px;
}

.generic {
    margin-top: 4%;
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 2rem;
}

.blogPostOne {
    margin-top: 4%;
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogTitleOne {
    color: white;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.blogTitleTwo {
    color: white;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.blogTitleOneDate {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.spacing {
    color: rgb(255, 255, 255);
    line-height: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 20px;
}

.georgeDrawing {
    align-items: center;
    margin-bottom: 2.5rem;
    opacity: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.gameDrawing {
    align-items: center;
    margin-bottom: 2.5rem;
    opacity: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35.9vh 35.9vh;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    letter-spacing: 0.65rem;
    padding: 4% 5% 5% 6%;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        letter-spacing: 0.45rem;
        font-size: 45px;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 30vh 30vh 30vh;
    }
}

.wrapper>div {
    color: white;
    display: flex;
    background-size: cover;
}

.wrapper a {
    color: white;
    text-decoration: none;
    display: inherit;
    background-size: cover;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.wrapper p {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.designBlock {
    background: url(img/design.png);
}

.codeBlock {
    background: url(img/code.png);
}

.videoBlock {
    background: url(img/video.png);
}

.projectBlock {
    background: url(img/project.png);
}

.construction {
    font-weight: 800;
    font-family: 'RaleWay', sans-serif;
    text-align: center;
    font-size: 80px;
    margin-top: 2%;
    max-width: 1920px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    color: #0B0C10;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 850px) {
    .construction {
        font-size: 40px;
    }
}

.aboutPage {
    margin-top: 4%;
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutTitle {
    text-align: center;
    color: #0B0C10;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1rem;
    font-weight: 800;
    font-size: 120px;
    margin-bottom: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 700px) {
    .aboutTitle {
        text-align: left;
        font-size: 65px;
        letter-spacing: 0.5rem;
    }
}

@media only screen and (max-width: 810px) {
    .aboutTitle {
        text-align: left;
    }
}

.aboutTitle:hover {
    -webkit-text-stroke-width: 0px;
    background-image: url(https://images.unsplash.com/photo-1589307004173-3c95204d00ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.aboutSpacing {
    color: white;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.YTcontainer {
    position: relative;
    overflow: hidden;
    padding-top: 42.85%;
}

.YT {
    position: absolute;
    top: 60px;
    left: 0;
    width: 80%;
    height: 80%;
    border: 0;
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (max-width: 900px) {
    .YTcontainer {
        padding-top: 62.25%;
    }
}